<div style="margin-top: 20px;" class="jumbotron">
	<h1 class="display-4">Friend Finder!</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fugiat nemo quibusdam laboriosam, officiis quam molestiae incidunt nobis eius libero quaerat magnam neque illo voluptatum repellendus distinctio praesentium sapiente eos sit odit ab natus rerum. Adipisci blanditiis corporis labore ea sit, quaerat illum sapiente ipsa veritatis, quae eveniet? Laborum, deleniti?</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate error atque unde perspiciatis a quibusdam, laborum expedita impedit, quod. Aliquid.</p>
	<a class="btn btn-primary btn-lg" href="/survey" role="button">Take Survey</a>
</div>
